<div class="container-fluid formRegister">
    <form>
        <div class="form-group headingLabel text-center">
            <header>Sign In</header><br>
        </div>
        <div class="greySec justify-content-center p-5">
            <!-- username -->
            <div class="form-group grp1 row justify-content-center">
                <div class="col-lg-6 column">
                    <label for="username"> Username</label>
                    <input type="username" class="form-control" id="usernameInput" placeholder="@Username">
                </div>
            </div>
            <!-- password --->
            <div class="form-group grp3 row justify-content-center">
                <div class="col-lg-6">
                    <label for="password"> Password</label>
                    <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordInput" placeholder="Shh.. Keep this a secret">
                </div>
            </div>
            <!-- button submit -->
            <div class="form-grou grp4 row justify-content-center">
                <div class="col-lg-6"><button type="submit" class="btn btn-lg btn-outline-dark">Let's Go</button></div>
            </div>
            <!-- button submit end --->
        </div>
    </form>
</div>
<!--- end of login section -->

<div class="container pt-5 mt-5 mb-5">
    <header class="text-center" data-aos="fade-in" data-aos-anchor-placement="center-bottom"> We're Waiting for You</header>
</div>
<!--- link to the login Stylesheet -->
<link rel='stylesheet' href='/stylesheets/loginStylesheet.css'>
