body {
    overflow: hidden;
}

.cloudBtn {
    padding: 10px 20px;
    margin:0;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
}
.cloudBtn a {
    color: white;
    text-decoration: none;
}

 .cloudBtn:hover {
    border-color: #FF6B81;
}
.subtext {
    color: #7F7B82;
}

.cloudBtnInPopup {
    padding: 10px 20px;
    margin-right: 5%;
    border: none;
    background-color:#74B9FF;
    cursor:pointer;
    border-radius:2px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #74B9FF;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header img {
    cursor: pointer;
    width: 50%;
    height: 50%;
}


/* Sidebar active */

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .loginLinks p,
#sidebar.active .loginLinks .cloudBtn {
    display: none;
}

#sidebar.active .sidebar-header img {
    width: 70%;
    height: 70%;
}

#sidebar.active .uploadSec {
    display: none;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
/* ---------------------------------------------------
    UPLOAD SECTION STYLE --- INCLUDES others.
----------------------------------------------------- */
.uploadSec {
    cursor: pointer;
}
progress {
    width: 100%;
}

/* ---------------------------------------------------
    TOOLBAR STYLE
----------------------------------------------------- */
.toolSection{
    width:100%;
    height:50px;
    background-color: #E2E2E2;
    border: rgba(112, 112, 112, 0.096) 2px solid;
    border-radius: 10px;
    color: rgb(112, 112, 112);
}

.actionBtn {
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: 'circular';
    padding: 0 2%;
    cursor: pointer;
    text-decoration: none;
}

.toolSecCloseBtn{
    height:100%;    
}
.actionBtn:hover {
    border-bottom: solid 2.5px #74B9FF;
    color: #74B9FF;
    text-decoration: none;
}

.toolSection.remove {
    display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.header {
    font-size: 2em;
    opacity: 0.2;
    color: #2D2D35;
    display:none;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.fileSection {
    border: rgba(112, 112, 112, 0.096) 2px solid;
    border-radius: 10px;
    background-color: #E2E2E2;
    min-height: 95%;
    width: 100%;
    padding:0;
    font-size: 100%;
    color: #444553;
}

.fileTitle {
    font-size: 200%;
}
.fileTitle a{
    color: #7F7B82;
}

.iconImg {
    padding-right: 2%;
}
.greyFileSec, .whiteFileSec {
    padding: 5px 2px;
}
.greyFileSec {
    background-color: #CDCDCD;
    color: black;
    width: 100%;
}
.whiteFileSec {
    background-color:rgba(255, 255, 255, 0.247);
    color: black;
    width:100%;
}
.greyFileSec:hover, .whiteFileSec:hover {
    background-color: lightblue;
    cursor: pointer;

}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
.page-footer {
    display: none;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }
}