/* ----------General -------------*/

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'circular' !important;
    /*overflow-x: hidden;*/
}

a {
    text-decoration: none !important;
}

.btn {
    border-radius: 50px !important;
    padding: 10px 50px !important;
}

header {
    font-size: 400%;
}

/* personal button used on Index Page */ 
.signBtn {
    border-radius: 50px;
    border-color: transparent;
    padding: 10px 60px;
    background-color: #74B9FF;
    color: white;
    transition: 0.3s;
    font-size: 150%;
}
.signUp_1 {
    text-align: center;
}

.topBtn {
    font-size: 150%;
    color:black;
    padding-bottom: 0;
}
.bottomBtn {
    font-size: 110%;
    color:black;
}

.signBtn:hover {
    background-color: #0984E3;
    cursor: pointer;
}

/* ------------GENERAL END ----------------*/

/* ------------ Navbar ------------*/

.logoIMG {
    padding: 0;
    margin-bottom: 5px;
}

.navbar {
    font-family: 'circular';
    font-size: 1em;
    width: 100%;
}

.nav-item {
    padding: 0 20px;
    font-size: 1.2em;
}

/* ------------ Navbar END ------------*/

/* ------------ FOOTER ------------*/

.page-footer {

    background-color: #2D2D35;
    font-family: 'circular';
    color: #444554;
}

/* ------------ FOOTER END ------------*/

/* ------------ Landing Page ------------*/

/* This is the landing page's light blue background */

.bg {
    background-color: #74B9FF;
    height: 100%;
    width: 100%;
}

.landingPage {
    height: 100%;
}

.landingTextSec {
    padding-top: 12%;
    color: white;
}

.landingText {
    font-size: 700%;
    text-align: center;
}

.landingSubText {
    font-size: 200%;
    padding: 0 5em;
    text-align: center;
}

/* Main Pc */

.landingIMG {
    position: absolute;
    bottom: 0;
    width: 90%;
}

/* ------------ Landing Page END ------------*/

/* After landing page [pt2] */
#pt2 .header {
    font-size: 250%;
    color: #2D2D35;
}

#pt2 {
    text-align: center;
}

#pt2 .subtext {
    font-size: 150%;
    color: #444553;
}

#pt2 .introTxt {
    text-align: end;
    font-size: 150%;
}

#pt2 img {
    width: 60%;
}

#pt2 p {
    font-size: 110%;
}

/*After LandingPage End*/

/*--------------------- ------------*/

.cloudsIMG {
    height: 100%;
    width: 100%;

}

/*----- Grey SEction ------- */

.greySec {
    background-color: #2D3436;
    padding: 20px 0px;
    color: white;
}

.exTxt_1 {
    text-align: center;
    padding-bottom: 3%;
    width: 100%;
    font-size: 150%;
}

.greySec .createNameTxt {
    font-size: 300%;
}

.greySec .transfer {
    color: #FF6B81;
}

.greySec .delete {
    color: #FF6348;
}

.greySec .save {
    color: #FF4757;
}

.greySec .fullStop {
    color: #FFA502;
}

/*------------------------ Statistics Section ------------------------*/


.statisticsIconSection img {
    width: 40%;
}

.statisticsIconSection .col-sm-4 {
    text-align: center;
    padding-top: 1em;
}

/* Stat's Txt Section */
.statisticsTextSection .row {
    text-align: center;
}
.pinkTxt {
    color: #E84393;
    font-size: 170%;
}
.blueTxt {
    color: #74B9FF;
    font-size: 500%;
}
.FileExplanationTxt {
    font-size: 150%;
}

/*------------------------ Statistics Section END------------------------*/


/*------------------------ Grey Section pt2  ------------------------*/

.biggerTxtp  {
    font-size: 170%;
}
.bigPinkTxt {
    font-size: 200%;
    color:  #E84393;
}
.and {
    font-family: 'quicksand';
    font-size: 200%;
}

/*------------------------ Grey Section pt2 Section END------------------------*/


/*------------------------ Resource Section  ------------------------*/
.resourceSection .row {
    text-align:center;
}
.googleIcon img, .dropboxIcon img {
    width: 30%;
}
.onedriveIcon img {
    width: 55%;
    padding-top:5%;
}
/*------------------------ Resource Section END ------------------------*/

/* ------------ Fonts ------------*/

@font-face {
    font-family: 'circular';
    src: url('/fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: 'quicksand';
    src: url('/fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'quicksand_Light';
    src: url('/fonts/Quicksand-Light.otf');
}

/* ------------ Fonts END ------------*/

/* ---------Scrollbar customization---------------- */

/* width */

::-webkit-scrollbar {
    width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
    background: grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #2D2D35;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------Scrollbar customization END---------------- */

/* --------------Break-points Media Queries --------------*/

@media only screen and (max-width: 900px) {

    /* landing area */
    .desktopImg {
        display: none;
    }

    .landingText {
        font-size:500%;
        margin-top:20%;
    }
    .landingSubText {
        font-size: 200%;
        padding: 0;
    }

    .bg {
        background-image: url('/images/BG_M.svg');
    }

    /* After landing page */
    #pt2 .imgSec {
        display: none;
    }
    
    #pt2 .introTxt {
        text-align: center;
    }

}
