<div class="container-fluid aboutUsLP m-0 p-0">
    <img class="aboutUsHeader" src="/images/aboutUsHeader.png" alt="header">
</div>
<div class=" container proJS_Description pt-5 mt-5">
    <header class="pl-5 ml-5"> Pro.js <span id="small">Team</span></header>
    <p class="proJS_txt">Hardworking, Dedicated, Ambitious.</p>
</div>
<!-- meet the team section -->

<div class="container pt-5 mt-5 teamSec">
    <subHeader class="pt-5 mb-5">Meet The Team</subHeader>

    <!-- images -->
    <div class="container imageSec">

        <div class="row">
            <div class="col-sm-4">
                <p class="githubLink"> <a href="https://github.com/Soph1ia">@Soph1ia</a></p>
            </div>
            <div class="col-sm-4">
                <img src="/images/sofia.svg" alt="member-1">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="githubLink"> <a href="https://github.com/MohamedMoustafaNUIG">@MohamedMoustafaNUIG</a></p>
            </div>
            <div class="col-sm-4">
                <img src="/images/mohamed.svg" alt="member-2">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="githubLink"><a href="https://github.com/JaraKucera">@Jara</a></p>
            </div>
            <div class="col-sm-4">
                <img src="/images/jara.svg" alt="member-3">
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-sm-4">
                <p class="githubLink"><a href="https://github.com/J-Nicholas">@J-Nicholas</a></p>
            </div>
            <div class="col-sm-4">
                <img src="/images/johnathan.svg" alt="member-4">
            </div>
        </div>
    </div>
</div>
<!-- end of meet the team -->

<!-- link to stylesheet -->

<link rel="stylesheet" href="/stylesheets/aboutUs.css">
