<div class="container">
    <br><br>
    <header class="pt-5"> Interface Page</header>

    <!--Google Api-->
    <button id="sign-in-or-out-button"
        style="margin-left: 25px">Sign In/Authorize</button>
<button id="revoke-access-button"
        style="display: none; margin-left: 25px">Revoke access</button>



<div id="auth-status" style="display: inline; padding-left: 25px"></div><hr>
</div>
<div>
    <progress value="0" max = "100" id = "uploader">0%</progress>
    <input type="file" value="upload" id="fileButton"/>
</div>
<div class="container main">
    <div id="pre-auth-section" style="display:none;">
      <a href="" id="authlink" class="button">Authenticate</a>
      <p class="info">Once authenticated, it will use the access token to list the files in your root directory.</p>
    </div>


    <!-- The download button is added here -->
    <div id="results" style="margin-top: 30px"></div>


    <div id="authed-section" style="display:none;">
      <p>You have successfully authenticated. Below are the contents of your root directory. They were fetched using the SDK and access token.</p>
  <!--    <ul id="files"></ul>-->
  <div id ="files"></div>
    </div>
  </div>
  <div>
    <p>Pick a file to upload to DropBox</p>
    <input type="file" value="upload" id="uploadToDB"/>
</div>
<div>
          <input type="file" value="upload" id="uploaderPCloud"/>
</div>
<div id="pcloudfiles"></div>
<button onclick="deleteFile();"
        style="margin-left: 25px">Delete</button>
        <button onclick="transferFile();"
        style="margin-left: 25px">Transfer to Firebase</button>
<button onclick="downloadFile();"
        style="margin-left: 25px">Download</button>
        <button onclick="revokeDB();"
        style="margin-left: 25px">Dropbox RevokeAccess</button>
        <button onclick="logoutDB();"
        style="margin-left: 25px">Dropbox Logout</button>
        <button onclick="pCloudLogout();"
        style="margin-left: 25px">pCloud Logout</button>
  <button id="pcloudtokken">pCloud Login</button>
<div><p id = 'results'></p></div>

</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script><!--DropBox API-->
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="1qwuqul2z1v27e1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.16/Dropbox-sdk.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script type="text/javascript" src="https://unpkg.com/pcloud-sdk-js@latest/dist/pcloudsdk.js"></script>
<script src="/javascripts/utils.js"></script>
<script type="text/javascript" src="/javascripts/interfacePage.js"></script> 
<script type="text/javascript" src="/javascripts/pcloud.js"></script> 
<script async defer src="https://apis.google.com/js/api.js" 
        onload="this.onload=function(){};handleClientLoad()" 
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>