<div class="container">
    <br><br>
    <header class="pt-5"> Profile Page</header>
<canvas id="chart" width="400" height="400"></canvas>


<img id="profilepic" src="#" />


</div>










<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="/javascripts/profilePage.js"></script>