<!-- Register Section --->
<div class="container formRegister">
    <form id="reg-form">
        <div class="form-group headingLabel text-center">
            <header> Register </header><br>
        </div>
        <div class="loginRegisteringSec">
            <!-- username -->
            <div class="form-group grp1 row justify-content-center">
                <div class="col-lg-6 column">
                    <label for="username"> Username</label>
                    <input type="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="@Username">
                    <small id="usernameHelp" class="form-text text-muted"> Let's be creative with the name.</small>
                </div>
            </div>
            <!--- email -->
            <div class="form-group grp2 row justify-content-center">
                <div class="col-lg-6">
                    <label for="email"> Email</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="me@email.com">
                    <small id="emailHelp" class="form-text text-muted">We won't share your personal information</small>
                </div>
            </div>
            <!-- password --->
            <div class="form-group grp3 row justify-content-center">
                <div class="col-lg-6">
                    <label for="password"> Password</label>
                    <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordInput" placeholder="Shh.. Keep this a secret">
                </div>
            </div>
            <!-- confirm password -->
            <div class="form-group grp4 row justify-content-center">
                <div class="col-lg-6">
                    <label for="password"> Re-enter Password</label>
                    <input type="password" class="form-control" id="passwordConfirmInput" aria-describedby="passwordInput" placeholder="Confirm the password">
                </div>
            </div>
            <!-- button submit -->
            <div class="form-grou grp4 row justify-content-center">
                <div class="col-lg-6"><button type="submit" class="signBtn">Ready?... Go</button></div>
            </div>
            <!-- button submit end --->
        </div>
    </form>
</div>
<!--- End of Register section --->

<!-- stylesheet for the register -->
<link rel='stylesheet' href='/stylesheets/loginStylesheet.css'>
